{
    "name": "{{npmName}}",
    "version": "{{npmVersion}}",
    "description": "NodeJS client for {{npmName}}",
    "repository": "{{gitUserId}}/{{gitRepoId}}",
    "main": "api.js",
    "scripts": {
        "postinstall": "typings install",
        "clean": "rm -Rf node_modules/ *.js",
        "build": "tsc",
        "test": "npm run build && node client.js"
    },
    "author": "Swagger Codegen Contributors",
    "license": "Unlicense",
    "dependencies": {
        "bluebird": "^3.5.0",
        "request": "^2.81.0"
    },
    "devDependencies": {
        "@types/bluebird": "^3.5.2",
        "@types/node": "^7.0.12",
        "@types/request": "^0.0.42",
        "typescript": "^2.2.1"
    }{{#npmRepository}},
    "publishConfig":{
        "registry":"{{npmRepository}}"
    }{{/npmRepository}}
}
